<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Author</title>
</head>
<body>
<h2>Delete Author</h2>
<form th:action="@{/authors/delete/{id}(id=${author.id})}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <input type="hidden" th:name="id" th:value="${author.id}" />
  <p>Are you sure you want to delete author: <strong th:text="${author.name}"></strong>?</p>
  <button type="submit">Delete</button>
</form>
<a href="/authors">Cancel</a>
</body>
</html>
